<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" href="/home">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-bar-chart-advertising-kiranshastry-gradient-kiranshastry.png"/>
                </div>
                Dashboard (Em Breve)
            </a>
            <div class="sb-sidenav-menu-heading">CADASTROS</div>
            <a class="nav-link" href="/Admin/Operad">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-user-cyber-security-kiranshastry-gradient-kiranshastry-4.png"/>
                </div>
                Usuários 
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#cadEnd" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/50/000000/external-map-medical-kiranshastry-gradient-kiranshastry.png"/>
                </div>
                Endereço
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="cadEnd" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/Admin/TipLograd">Tipo de Logradouro </a>
                    <a class="nav-link" href="/Admin/EstLocal">Tipo de Localização</a>
                    <a class="nav-link" href="/Admin/UniFed">Unidade Federativa</a>
                    <a class="nav-link" href="/Admin/Lograd">Logradouro</a>
                    <a class="nav-link" href="/Admin/Cidades">Cidades</a>
                    <a class="nav-link" href="/Admin/Bairros">Bairros</a>
                </nav>
            </div>
            
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#cadEmp" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-suitcase-interface-kiranshastry-gradient-kiranshastry-1.png"/>
                </div>
                Empresa 
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="cadEmp" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/Admin/TipEmp">Tipo de Empresa</a>
                    <a class="nav-link" href="/Admin/Empresas">Empresa</a>
                </nav>
            </div>
            <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-user-data-science-kiranshastry-gradient-kiranshastry.png"/></div>
                Vendedores(Em Breve)
            </a>
            <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#clientes" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-user-banking-and-finance-kiranshastry-gradient-kiranshastry.png"/>
                </div>
                Clientes (Desencolvendo)
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="clientes" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/Admin/TipCliente">Tipo de Cliente</a>
                    <a class="nav-link" href="#">Tipo de Pagamento (Em Breve)</a>
                    <a class="nav-link" href="#">Bloqueio (Em Breve)</a>
                    <a class="nav-link" href="#">Clientes (Em Breve)</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#!" data-bs-toggle="collapse" data-bs-target="#produtos" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon">
                    <img class="bg_imgIco" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-box-logistic-delivery-kiranshastry-gradient-kiranshastry.png"/>
                </div>
                Produtos (Em Breve)
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="produtos" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#">Unidades de Medidas (Em Breve)</a>
                    <a class="nav-link" href="#">Tributos (Em Breve)</a>
                    <a class="nav-link" href="#">Categorias (Em Breve)</a>
                    <a class="nav-link" href="#">Produtos (Em Breve)</a>
                </nav>
            </div>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                
            </div>
            <div class="sb-sidenav-menu-heading">Movimentações</div>
            <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                (Em Breve)
            </a>
            <a class="nav-link" href="tables.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                (Em Breve)
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>

