<%- include('../../partials/headerMain.ejs')%>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-login" style="background-image: url('img/Bg_login.jpg');">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center align-items-center">
                                        <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-user-cyber-security-kiranshastry-gradient-kiranshastry-2.png"/>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="small mb-3 text-muted">Insira seu endereço de e-mail e enviaremos um link para redefinir sua senha.</div>
                                    <form>
                                        <label for="OperadEmail"><b>Email:</b></label>
                                        <input class="form-control" type="email" name="OperadEmail" placeholder="name@example.com">
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="/">Voltar para o login</a>
                                            <a class="btn btn-primary" href="/search">Enviar</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="/register">Precisa de uma conta? Inscrever-se!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <%- include('../../partials/footer.ejs')%>
        </div>
    </div>
</body>
<%- include('../../partials/footerScript.ejs')%>
    

